---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  isUnderline?: boolean;
  label: string;
};

const {  label, ...props } = Astro.props;
---

<a
  class="cursor-pointer hover:underline"
  href={props.href}
  rel="noreferrer"
  target="_blank"
  {...props}
>
  {label}
  <span class="sr-only">{label} link</span>
</a>
