---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div class="prose flex flex-col dark:prose-invert">
    <h1 class="not-prose text-3xl font-bold md:text-4xl">
      404. That’s an error.
    </h1>
    <p class="mt-6 text-xl font-light md:mt-8 md:text-2xl">
      Resource not found. Click
      <a class="cursor-pointer font-semibold hover:underline" href="/">here</a>
       to go home.
    </p>
  </div>
</Layout>
