---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="prose prose-slate dark:prose-invert prose-p:text-base sm:prose-p:text-lg md:prose-p:text-xl lg:prose-p:text-2xl xl:prose-p:text-3xl mx-auto my-6 w-full max-w-prose px-6 text-justify font-extralight text-balance hyphens-manual sm:max-w-2xl sm:px-8 md:my-8 md:max-w-3xl lg:my-20 lg:max-w-4xl lg:px-6 xl:my-16 xl:max-w-6xl xl:px-4"
  >
    <h1
      class="text-left text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
    >
      404. That’s an error.
    </h1>
    <p>
      Resource not found. Click
      <a class="not-prose cursor-pointer font-semibold hover:underline" href="/"
        >here</a
      >
      to go home.
    </p>
  </div>
</Layout>
