---
import SocialLinks from "../components/social-links.astro";
import presentation from "../contents";
import Layout from "../layouts/layout.astro";
---

<Layout title="Leenk - Yusoof Moh">
  <main
    class="flex min-h-screen flex-col items-start justify-start bg-gradient-to-r from-gray-50 via-gray-200 to-gray-300 p-12 text-gray-700 dark:from-gray-950 dark:via-gray-900 dark:to-gray-800 dark:text-gray-300 md:p-52"
  >
    <h1 class="text-4xl font-extrabold md:text-5xl">{presentation.title}</h1>
    <h2 class="mt-6 text-2xl font-bold md:mt-8 md:text-3xl">
      I build microservices that scales.
    </h2>
    <p class="text-md mt-2 font-extralight md:mt-4 md:text-xl">
      I enjoy to develop systems that
      <span class="font-medium">adopt an experimental state-of-the-art approach</span>
      to produce scalable solutions. While ensuring these systems are stable
      enough to reach production in a timely manner.
    </p>
    <SocialLinks />
  </main>
</Layout>
