---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="text-md prose prose-zinc my-2 hyphens-manual text-balance text-justify font-light dark:prose-invert prose-p:indent-4 md:my-12 md:text-xl"
  >
    <h1 class="text-2xl">Meet me, Yusoof Moh</h1>
    <p>
      In the name of Allah, and by His grace. My name spelled as yu-sof. Born
      and raised in Malang, now working onsite in Jakarta. I stride through the
      crossroads of technology and nature. I am primarily proficient in modern
      web technologies and devops tooling, alongside the cultivation of edamame.
      I have a keen interest in regional motorcycle tours, scholarly gatherings,
      and continuous learning through extensive reading. I based my
      understanding of islam in accordance to those who follow the first three
      generations of the ummah with the focus particularly on tawheed and
      tafseer. To further my spiritual commitment, I privately teach tahseen,
      sharing my knowledge and passion with those eager to learn. You can reach
      out via <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="mailto:me@yusoofsh.id"
        onclick="sa_event('email_clicked')"
        rel="noreferrer"
        target="_blank">Mail</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/twitter"
        onclick="sa_event('twitter_clicked')"
        rel="noreferrer"
        target="_blank">Twitter</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/linkedin"
        onclick="sa_event('linkedin_clicked')"
        rel="noreferrer"
        target="_blank">LinkedIn</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/github"
        onclick="sa_event('github_clicked')"
        rel="noreferrer"
        target="_blank">GitHub</a
      >. Maasyaaallah, tabarakallah. May Allah bless our endeavors, shield us
      from pride, and lead us to His everlasting mercy. Aameen ya rabbal
      alameen.
    </p>
  </div>
</Layout>
