---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="text-md prose mt-2 font-light dark:prose-invert md:mt-4 md:text-xl"
  >
    <p class="indent-4">
      Once upon a time in the cold city of Malang, Indonesia: Lived a full stack
      engineer named Yusoof. He was known for his proficiency in modern web
      technologies, as well as his expertise in DevOps tools. His motivation for
      becoming a software engineer was the time flexibility and financial
      stability it offered. In his spare time, he immersed himself in exploring
      emerging trends, often attending workshops and online courses to broaden
      his knowledge in the fast-paced world of technology advancement. But his
      interests extended beyond the realm of code.
    </p>
    <p class="indent-4">
      Besides his technological pursuits, Yusoof ventured into the world of
      agriculture. He ran a farming business, specializing in planting edamame.
      This agricultural endeavor not only provided a source of income but also
      allowed him to connect with nature and cultivate a sense of responsibility
      and stewardship for the environment. His dedication to both his
      professional and agricultural life showcased his versatility and
      commitment to making a positive impact in various fields.
    </p>
    <p class="indent-4">
      But, his fascination with Islamic culture, particularly the teachings
      based on the Quran, authentic Hadith, and the people among Ahl al-Sunnah
      wal-Jama`ah, was paramount. He had a particular focus on Tawheed and
      Tafseer, the fundamental concepts of Islamic monotheism and interpretation
      of the Quran. His spiritual journey provided him with a sense of balance,
      purpose, and fulfillment. To further his spiritual commitment, Yusoof
      privately taught the Quran, sharing his knowledge and passion with those
      eager to learn. His role as a teacher allowed him to deeply connect with
      his community and pass on the wisdom he cherished. By integrating
      spiritual concepts into his daily life, he was able to navigate challenges
      with greater ease and approach situations with a sense of clarity and
      authenticity.
    </p>
    <p class="indent-4">
      In this era of virtual interconnectedness, Yusoof welcomes all to engage
      and explore the convergence of technology and spirituality. You can
      connect with him through <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="mailto:me@yusoofsh.id"
        rel="noreferrer"
        target="_blank">Mail</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://twitter.com/yusoofsh"
        rel="noreferrer"
        target="_blank">Twitter</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://linkedin.com/in/yusoofsh"
        rel="noreferrer"
        target="_blank">LinkedIn</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://github.com/yusoofsh"
        rel="noreferrer"
        target="_blank">GitHub</a
      >.
    </p>
    <p class="indent-4">
      Maa syaa Allah, tabarakallah. May our endeavors unfold as rich and diverse
      as the intricate tapestry weaving together Yusoof's unique journey through
      life. This grace is from the bounty of our Lord. May Allah grant us all
      the honor of beholding His face in Jannah al-Firdous and let us seek
      refuge from showing off, arrogance, and heedless following. Aameen ya
      rabbal alameen.
    </p>
  </div>
</Layout>
