---
import Layout from "../layouts/index.astro";
import ModeToggle from "../components/mode-toggle";
import FullBio from "../content/bio/full.md";
import TldrBio from "../content/bio/tldr.md";
---

<Layout>
  <div
    class="prose prose-slate dark:prose-invert prose-headings:my-0 prose-h2:text-base prose-h2:leading-tight prose-h2:tracking-normal prose-p:my-0 prose-p:text-base prose-p:leading-relaxed prose-ul:my-0 prose-li:my-1 sm:prose-h2:text-lg sm:prose-p:text-lg md:prose-h2:text-xl md:prose-p:text-xl lg:prose-h2:text-2xl lg:prose-p:text-2xl xl:prose-h2:text-xl xl:prose-p:text-xl relative z-10 mx-auto my-6 w-full max-w-prose px-6 text-left font-normal sm:max-w-2xl sm:px-8 md:my-8 md:max-w-3xl lg:my-20 lg:max-w-4xl lg:px-6 xl:my-16 xl:max-w-4xl xl:px-4"
    data-reading-surface
  >
    <div class="flex flex-col gap-4 tracking-[0.2em]">
      <h1
        class="mb-4 text-left text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
      >
        Meet me, Yusoof Moh
      </h1>
    </div>
    <div
      class="my-0 flex flex-wrap items-center justify-between gap-1 tracking-[0.2em]"
    >
      <ModeToggle client:load />
    </div>
    <div data-mode="full" class="mt-2 flex flex-col gap-3">
      <FullBio />
    </div>
    <div data-mode="tldr" class="mt-2 flex flex-col gap-3">
      <TldrBio />
    </div>
  </div>
</Layout>
