---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="text-md prose prose-slate my-2 hyphens-manual text-balance text-justify font-extralight dark:prose-invert prose-p:indent-4 md:my-12 md:text-xl"
  >
    <h1 class="text-left text-3xl md:text-4xl">Meet me, Yusoof Moh</h1>
    <p>
      In the name of Allah, and by His grace. My name pronounced <i>yu-sof</i>.
      Born and raised in Malang, now working onsite in Jakarta. I stride through
      the crossroads of technology and nature, proficient in modern web and
      devops tooling, alongside cultivating edamame. I have a keen interest in
      regional motorcycle tours, knowledge gathering, and continuous learning
      through extensive research. I based my understanding of islam in
      accordance to those who follow the first three generations of the ummah
      with the focus particularly on tawhid and tafsir. To further my spiritual
      commitment, I privately teach a tahsin class. The goal is to apply my
      expertise in software engineering to the agricultural field while
      upholding islamic ethics. You can reach out via <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="mailto:me@yusoofsh.id"
        onclick="sa_event('email_clicked')"
        rel="noreferrer"
        target="_blank">Mail</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/twitter"
        onclick="sa_event('twitter_clicked')"
        rel="noreferrer"
        target="_blank">Twitter</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/linkedin"
        onclick="sa_event('linkedin_clicked')"
        rel="noreferrer"
        target="_blank">LinkedIn</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="/github"
        onclick="sa_event('github_clicked')"
        rel="noreferrer"
        target="_blank">GitHub</a
      >. Maasyaaallah, tabarakallah. May Allah bless our endeavors, and lead us
      to His everlasting mercy.
    </p>
  </div>
</Layout>
