---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="text-md text-balance prose mt-2 hyphens-manual text-justify font-light dark:prose-invert md:mt-4 md:text-xl"
  >
    <h1>Meet me, Yusoof</h1>
    <p class="indent-4">
      I stride through the crossroads of technology and nature , weaving code
      and crops into a harmonious tapestry. But it is the radiant light of
      Islamic teachings that ignites my journey, propelling me to share its
      brilliance.
    </p>
    <p class="indent-4">
      I am primarily proficient in modern web technologies and have expertise in
      devops tools. My motivation for becoming a software engineer was the time
      flexibility and financial stability it offered. In my spare time, I
      immerse myself in exploring emerging trends, often attending workshops and
      online courses to broaden my knowledge in the fast-paced world of
      technological advancement.
    </p>
    <p class="indent-4">
      I ventured into the world of agriculture. I run a farming business,
      specializing in planting edamame. This agricultural endeavor not only
      provides a source of income but also allows me to connect with nature and
      cultivate a sense of responsibility and stewardship for the environment.
    </p>
    <p class="indent-4">
      I am fascinated with Islamic culture above all of my doings, particularly
      the teachings based on the Quran, authentic Hadith, and the people among
      Ahl al-Sunnah wal-Jama`ah. I have a particular focus on Tawheed and
      Tafseer, the fundamental concepts of Islamic monotheism and interpretation
      of the Quran. My spiritual journey provides me with a sense of balance,
      purpose, and fulfillment. To further my spiritual commitment, I privately
      teach the Quran, sharing my knowledge and passion with those eager to
      learn. It allows me to deeply connect with my community and pass on the
      wisdom I cherish. By integrating spiritual concepts into my daily life, I
      navigate challenges with greater ease and approach situations with a sense
      of clarity and authenticity.
    </p>
    <p class="indent-4">
      In this era of virtual interconnectedness, I welcome all to engage and
      explore the convergence of technology and spirituality. You can connect
      with me through <a
        class="not-prose cursor-pointer font-semibold after:content-['_↗'] hover:underline"
        href="mailto:me@yusoofsh.id"
        rel="noreferrer"
        target="_blank">Mail</a
      > / <a
        class="not-prose cursor-pointer font-semibold after:content-['_↗'] hover:underline"
        href="https://twitter.com/yusoofsh"
        rel="noreferrer"
        target="_blank">Twitter</a
      > / <a
        class="not-prose cursor-pointer font-semibold after:content-['_↗'] hover:underline"
        href="https://linkedin.com/in/yusoofsh"
        rel="noreferrer"
        target="_blank">LinkedIn</a
      > / <a
        class="not-prose cursor-pointer font-semibold after:content-['_↗'] hover:underline"
        href="https://github.com/yusoofsh"
        rel="noreferrer"
        target="_blank">GitHub</a
      >.
    </p>
    <p class="indent-4">
      Maa syaa Allah, tabarakallah. May our endeavors unfold as rich and diverse
      as the intricate tapestry weaving together my unique journey through life.
      This grace is from the bounty of our Lord. May Allah grant us all the
      honor of beholding His face in Jannah al-Firdous and I seek refuge from
      showing off, arrogance, and heedless following. Aameen ya rabbal alameen.
    </p>
  </div>
</Layout>
