---
import SocialLinks from "@/components/social-links.astro";
import presentation from "@/contents/presentation";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Leenk - Yusoof Moh">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-5xl">{presentation.title}</h1>
      <SocialLinks />
    </article>
  </main>
</Layout>
