---
import Layout from "../layouts/index.astro";
---

<Layout>
  <div
    class="prose-grey text-md prose mt-2 font-light dark:prose-invert md:mt-4 md:text-xl"
  >
    <p class="indent-4">
      Once upon a time, in the cold city of Malang, Indonesia, lived a full
      stack engineer named Yusoof. He was known for his proficiency in modern
      web technologies, as well as his expertise in devops tools. His motivation
      for becoming a software engineer was the time flexibility and financial
      stability it offered. In his spare time, he immersed himself in exploring
      emerging trends, often attending workshops and online courses to broaden
      his knowledge in the fast-paced world of technology advancement. But his
      interests extended beyond the realm of code...
    </p>
    <p class="indent-4">
      Yusoof was deeply fascinated by Islamic culture, particularly the
      teachings based on the Quran, authentic Hadith, and the people among Ahl
      al-Sunnah wal-Jama`ah. He had a particular focus on Tawheed and Tafseer,
      the fundamental concepts of Islamic monotheism and interpretation of the
      Quran. His spiritual journey provided him with a sense of balance,
      purpose, and fulfillment. It helped him find meaning beyond the
      tech-driven world he was accustomed to. By integrating spiritual concepts
      into his daily life, he was able to navigate challenges with greater ease
      and approach situations with a sense of clarity and authenticity.
    </p>
    <p class="indent-4">
      In this era of virtual interconnectedness, Yusoof welcomes all to engage
      and explore the convergence of technology and spirituality. You can
      connect with him through <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="mailto:me@yusoofsh.id"
        rel="noreferrer"
        target="_blank">Mail</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://twitter.com/yusoofsh"
        rel="noreferrer"
        target="_blank">Twitter</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://linkedin.com/in/yusoofsh"
        rel="noreferrer"
        target="_blank">LinkedIn</a
      > / <a
        class="not-prose cursor-pointer font-semibold hover:underline"
        href="https://github.com/yusoofsh"
        rel="noreferrer"
        target="_blank">GitHub</a
      >.
    </p>
    <p class="indent-4">
      May our endeavors be as fulfilling and diverse as the intricate and
      vibrant tapestry that weaves together the threads of his own unique
      journey through life.
    </p>
  </div>
</Layout>
