---
import presentation from "../contents";
import Link from "./shared/linka.astro";

const { socials } = presentation;
---

<ul class="mt-8 flex flex-row gap-2 md:mt-10">
  {
    socials.map(
      (social, index): JSX.Element => (
        <>
          <li>
            <Link href={social.link} label={social.label} />
          </li>
          {socials.length - 1 !== index && <li>/</li>}
        </>
      ),
    )
  }
</ul>
