---
import { AstroFont } from "astro-font";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="favicon.ico" rel="icon" type="image/svg+xml" />
    <meta
      content="#f9fafb"
      media="(prefers-color-scheme: light)"
      name="theme-color"
    />
    <meta
      content="#030712"
      media="(prefers-color-scheme: dark)"
      name="theme-color"
    />
    <meta content={Astro.generator} name="generator" />
    <meta
      content="Explore the teachings of Islam, modern front-end engineering, and sustainable vegetable farming with YusoofSH. Discover insights, tutorials, and resources to enrich your knowledge and skills."
      name="description"
    />
    <title>Yusoof Moh</title>
    <AstroFont
      config={[
        {
          display: "swap",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap",
          name: "Plus Jakarta Sans",
          preload: true,
          selector: "body",
          src: [],
        },
      ]}
    />
  </head>
  <body>
    <main
      class="flex min-h-screen items-center justify-center bg-gradient-to-br from-gray-50 to-gray-200 p-4 dark:from-gray-950 dark:to-gray-900"
    >
      <slot />
    </main>
    <script is:inline>
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
  </body>
</html>
